body {
    size: auto;
    background-color: black;
    font-family: monospace;
}

strong {
    color: white;
}

em {
    color: white;
}

h2 {
    color: red;
    font-size: 90px;
}

.h1_a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding-left: 600px;
    object-position: auto;
    font-size: 50px;
}

.h2_c {
    padding-left: 800px;
}

.bD {
    font-size: xx-large;
    border-radius: 10px;
    background-color: black;
}